.ok {
    @import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
    font-family: 'Noto Sans TC' !important;
    font-size: xx-large;
    text-align: center;
    color: rgb(3, 3, 1);
}

.menu {
    @import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
    font-family: 'Noto Sans TC' !important;
    font-size: xx-large;
    text-align: center;
    color: rgb(3, 3, 1);
}

.botton {
    width: 250px;
    height: 50px;
    font-size: xx-large;
}

#intro {
    @import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
    font-family: 'Noto Sans TC' !important;
    font-size: xx-large;
    text-align: center;
    color: rgb(3, 3, 1);
}

#preface {
    @import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
    font-family: 'Noto Sans TC' !important;
    font-size: xx-large;
    text-align: center;
    color: rgb(238, 12, 12);
}

#arena {
    @import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
    font-family: 'Noto Sans TC' !important;
    font-size: xx-large;
    text-align: center;
    color: rgb(3, 3, 1);
}